body {
  background: black;
}

#canvas1 {
  position: absolute;
  border: 3px solid white;
  width: 1200px;
  height: 700px;
  transform: translate(-50%, -50%);
  /*this will make the canvas is in the middle of the */
  top: 50%;
  left: 50%;
}
